h1 {
  color: #8d7510;
  font-family: 'Oldenburg', cursive;
  font-size: 60px;
  text-align: center;

}

h2 {
  color: #8d7510;
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
  text-align: center;
}
body {
  background-color: #5a1a1a;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  text-align: center;
}

img {
  align: center
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px:
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color : #f1f1f1;
  min-width: 160px:
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}
/* .show {display:block;}

/* .topnav {
  background-color: #5a1a1a;
  overflow: hidden;
}

.topnav a {
  float:center;
  color:  #5a1a1a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
